.Title{
    -fx-text-fill: #81058e;
    -fx-font-size: 38px;
    -fx-font-family: "BN Matan";
}

.SecondaryTitles{
    -fx-text-fill: #81058e;
    -fx-font-size: 18px;
    -fx-font-family: "BN Matan";
}

.Button{
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-background-color: linear-gradient(to bottom right, #cb84ac, #743d5c);
    //-fx-background-color: radial-gradient(focus-distance -20%, center 70% 50% , radius 60% , #ff8c00, #dc143c, #008b8b);
    //-fx-background-color: radial-gradient(center 70% 30% , radius 70% , #6a5acd, #b5618f);
}

.Label{
    -fx-font-family: "Comic Sans MS";
    //-fx-font-weight: bold;
    -fx-font-size: 13px;
}

.Background{
    -fx-background-color: #e2dce8;
}

.SmallTitle{
    -fx-text-fill: #81058e;
    -fx-font-size: 22px;
    -fx-font-family: "BN Matan";
}
